<header>
	<div class="intro">
		<h2>Put in a zipcode and the app will return you the current temperature in Fahreniet and Celsius!</h2>
		<form>
			Zipcode:
			<input type= "text" >
			<input type="submit" value="Submit">
		</form>
	</div>	
</header>