<header>
	<div class="intro">
		<h2>Put in a zipcode and the app will return you the current temperature in Fahreneit and Celsius!</h2>
		<form id="search">
      		<input type="text" placeholder="Search a Zip code..." id="temp-search">
     		<input type="submit" value="Submit">
     		<button id="PageRefresh">Refresh</button>
    	</form>
    		<div id="location"></div>
			<div id="temperature_c"></div>
			<div id="temperature_f"></div>
	</div>
	
</header>